
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-size: 24px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    padding-bottom: 30px;
    line-height: 32px;
}

a { 
    color: black 
}

header {
    background-color: whitesmoke;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

ul {
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    padding: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.35rem;
    text-transform: uppercase;
    padding: 50px;
}

h4 {
    margin-bottom: 10px;
    margin-top: 10px;;
    font-size: 1.75rem;
}

hr {
    margin-left: 25px;
    margin-right: 25px;
}

img {
    max-width: 100%;
    margin-top: 30px;;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#contact {
    padding-top: 100px;
    padding-bottom: 30px;
}

#email {
    padding-bottom: 75px;
    padding-top: 0;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

.main-header {
    background-color: whitesmoke;
    padding-top: .5em;
    padding-bottom: .5em;
    max-width: 100%;
}

.main-nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    background-color: white;
    padding: 15px;
    margin-bottom: 7px;
    margin-left: 0;
}

.main-nav a {
    text-decoration: none;
    text-align: center;
    font-size: .95em;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
    display: block;
}

.profile-img {
    width: 70%;   
    margin-top: 50px;
    padding-bottom: 30px;
}

.portfolio {
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 55px;
    padding-left: 15px;
    padding-right: 15px;
}

.front {
    margin-top: 50px;
    margin-bottom: 50px;
}

.back {
    margin-bottom: 0;
}

.front-end {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#skills {
    background-color: #b0e0e6;
    color: white;
}

.skills-1 {
    text-align: left;
    padding-left: 25px;
}

.skills-2 {
    text-align: right;
    padding-right: 25px;
}

footer {
    background-color: whitesmoke;
    margin-top: 0px;
}

.name-bottom {
    float: left;
    padding: 40px;
    margin-top: 25px;
}

.bottom-top {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: right;
    padding: 40px;
    float: right;
    margin-top: 25px;
}

.bottom-nav {
    visibility: hidden;
    margin-top: 25px;
}

#phone, #email {
    color: purple;
}

.group::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

@media (min-width: 768px) {
    h1 {
        font-size: larger;
        margin-top: 15px;
        margin-bottom: 0;
    }

    header {
        padding-bottom: 50px;
    }

    .container {
        height: 400px;
    }

    .main-header {
        padding-bottom: 60px;
    }

    .main-list-item {
        background-color: whitesmoke;
    }

    .main-nav {
        padding-bottom: 0px;
    }

    .main-nav ul li {
        list-style-type: none;
        text-transform: uppercase;
        background-color: transparent;
        margin-bottom: 7px;
        margin-left: 0;
        display: inline-block;
    }

    .main-nav a {
        text-decoration: none;
        text-align: center;
        font-size: .6em;
        font-weight: 800;
        color: #222;
        text-transform: uppercase;
        display: block;
    }

    .profile-img {
        float: right;
        max-width: 40%;
        margin-top: 0;
    }

    .intro {
        max-width: 59.5%;
        font-size: 1.25rem;
        margin-top: 0;
        text-align: left;
        padding-top: 0;
    }

    .main-nav {
        padding-bottom: 50px;
    }

    .marketing, .travel, .gallery {
        float: left;
        width: 48.5%;
    }

    .search, .spots, .calculator {
        float: right;
        width: 48.5%;
    }

    #skills {
        text-align: center;
        margin-top: 50px;
    }

    .portfolio {
        font-size: .8em;
    }

    #contact {
        padding-top: 50px;
    }

    .bottom-top {
        visibility: hidden;
    }

    .bottom-nav {
        visibility: visible;
        float: right;
        padding-top: 20px;
    }

    .bottom-nav ul {
        padding-left: 0px;
        position: absolute;
        right: 24px;
    }

    .bottom-nav ul li {
        list-style-type: none;
        text-transform: uppercase;
        padding: 8px;
        display: inline-block;
    }

    .bottom-nav a {
        text-decoration: none;
        text-align: center;
        font-size: .5em;
        font-weight: 700;
        color: #222;
        text-transform: uppercase;
        display: block;
    }

    .name-bottom {
        font-size: .6em;
        padding-top: 30px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: unset;
    }
    
    p {
        font-size: 1.25em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.75em;
    }

    h5 {
        font-size: 1.25em;
    }
    .container {
        height: 400px;
        max-height: 500px;
    }

    .name {
        float: left;
        margin-right: 400px;
        padding-top: 0;
        margin-bottom: 50px;
    }

    .intro {
        display: inline-block;
    }

    .main-nav {
        padding-top: 0;
        margin-bottom: 50px;
        float: right;
        padding-bottom: 0px;
    }   

    .main-nav a {
        font-size: 1em;
    }

    .profile-img {
        display: inline-block;
    }

    section div {
      display: inline-block;
    }

    .marketing, .travel, .gallery, .search, .spots, .calculator {
        float: none;
        width: 33%;
        padding-left: .5em;
        padding-right: .5em;
    }

    .front, .back {
        margin: auto;
    }

    #skills {
        margin: auto;
    }

    .contact {
        padding-top: 50px;
    }

    .name-bottom {
        font-size: 1.25em;
        padding-top: 23px;
    }

    .bottom-nav a {
        font-size: 1em;
    }
}


